html {
  scroll-behavior: smooth;
}
body {
font-family: 'Roboto Mono', monospace;
color: #FFFFFF;
background-color: #2787AF;
overflow-x: hidden;
}
nav {
  background-color: #162C46;
}

.nav-link {
font-size: 1.5em;
}

p {
  font-size: 1.5em;
}

.desktop-m {
  margin-left: 30%;
  margin-right: 30%;
}

.padding-top {
padding-top: 12em;
}

#logo {
  max-width: 100px;
  margin-right: 0;
}

a {
  color: #FFFFFF;
}
a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.menu-link {
padding-bottom: 2.5%;
}

#menuToggle
{
display: block;
position: absolute;
top: 40%;
right: 30px;

z-index: 1;

-webkit-user-select: none;
user-select: none;
}
#menuToggle input {
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */

-webkit-touch-callout: none;
}
#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: #FFFFFF;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #FFFFFF;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
opacity: 1;
transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
position: absolute;
width: 430px;
margin: -100px 0 0 0;
padding: 50px;
padding-top: 118px;
right: -100px;

background: #162C46;
list-style-type: none;
-webkit-font-smoothing: antialiased;

transform-origin: 0% 0%;
transform: translate(100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
margin-left: -50px;
background: #3B53A8;
padding: 12% 0;
margin-top: 4%;
font-size: 1.5em;

font-family: Roboto Mono;
font-style: normal;
}
#menuToggle input:checked ~ ul
{
transform: scale(1.0, 1.0);
opacity: 1;
}
#icon {
margin-left: 15%;
margin-right: 5%;
}

@media (max-width: 599px) {
  .desktop-m {
    margin-left: 0;
    margin-right: 0;
  }
}

.warning-color {
  color: #F14668;
}

.warning-border {
  border-color: #F14668;
}